* {
    box-sizing: border-box;
    text-align: center;
}
body {

font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
color: #777;
background: #777;
font-size: 18px;
}

header {
    padding: 20px;
    margin-bottom: 20px;
    color: #777;
    background: #ebebeb;
    width: 100%;
    height: 100px;

}
nav {
    padding: 20px;
    margin-bottom: 20px;
    color: #333333;
    background: #ebebeb;
    width: 100%;
    height: 100px;
    
    
}

section {
    width: 63%;
    float: left;
    background: #eee;
    padding: 20px;
}

aside {
    background: #ebebeb;
    float: right;
    /* margin-right: 30px; */
    width: 33%;
    height: 260px;
    padding: 20px;
    /* border: 10px solid #777; */
}

article {
    margin-top: 10px;
    color: #ebebeb;
    padding: 10px;
    background: #777;
    /* width: 60%; */
}
h1 {
    color: #777;
    padding: 10px;
    background: #ebebeb;
}

p {
    color: #777;
    background: #ebebeb;
    padding:10px;
}

footer {
    color: #777;
    background: #ebebeb;
    padding: 20px;
    height: 100px;
}
.container {
    width: 80%;
    margin: 20px auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear:both;
    margin-bottom:20px;
}